# Ignore node modules
/frontend/node_modules

# Ignore Python virtual envs and builds
/backend/venv
/backend/__pycache__/

# Ignore dotenv secrets
**/.env
**/.env.*

# Ignore compiled output
*.pyc
*.log
.DS_Store

# Ignore editor configs
.vscode/
.idea/
